@inject I_Api_Helper apiHelper;
@model puck.core.Base.BaseModel
@{
    ViewBag.Title = "Puck";
    //Layout = null;
    ViewBag.Level0Type = Model.GetType();
    
}
<h1 class="master">Puck</h1>

<div class="main grid container_12">
    <div class="grid_12 menutop">
        <ul>
            <li><a class='content' href="/puck"><i class="icon-home"></i></a></li>
            <li><a title="settings" data-permission="_settings" class='settings' href="/"><i class="icon-cog"></i></a></li>
            <li><a title="users" data-permission="_users" class='users' href="/"><i class="icon-user"></i></a></li>
            <li><a title="developer" data-permission="_tasks" class='tasks' href="/"><i class="icon-wrench"></i></a></li>
            <li><a title="logout" class='logout' href="@Url.Action("out","admin")"><i class="icon-circle-arrow-left"></i></a></li>
        </ul>

    </div>
    <div class="grid_3 alpha leftarea">
        <button data-permission="_republish" title="republish entire site" style="padding-left:0px;" class="republish_entire_site btn btn-link"><i class="icon-repeat"></i></button>
        <button class="create_default btn btn-link"><i class="icon-plus-sign"></i>&nbsp;create</button>
        <div class="search">
            <button class="search btn btn-link"><i class="icon-search"></i></button>
        </div>
        <div class="startpath"></div>
        <ul data-dropdown="node-dropdown" class="content">
            <li class="node" data-children_path="/"></li>
        </ul>
        <div class="btn-group node-dropdown puck-dropdown">
            <ul class="dropdown-menu">
                <li><a href="#" data-action="create" data-permission="_create"><i class="icon-plus-sign"></i> Create</a></li>
                <li><a href="#" data-action="translate" data-permission="_create"><i class="icon-file"></i> Translation</a></li>
                <li><a href="#" data-action="delete" data-permission="_delete"><i class="icon-trash"></i> Delete</a></li>
                <li><a href="#" data-action="publish" data-permission="_publish"><i class="icon-book"></i> Publish</a></li>
                <li><a href="#" data-action="unpublish" data-permission="_unpublish"><i class="icon-ban-circle"></i> Unpublish</a></li>
                <li><a href="#" data-action="localisation" data-permission="_localisation"><i class="icon-plane"></i> Localisation</a></li>
                <li><a href="#" data-action="move" data-permission="_move"><i class="icon-move"></i> Move</a></li>
                <li><a href="#" data-action="domain" data-permission="_domain"><i class="icon-globe"></i> Domain</a></li>
                <li><a href="#" data-action="revert" data-permission="_revert"><i class="icon-backward"></i> Revert</a></li>
                <li><a href="#" data-action="cache" data-permission="_cache"><i class="icon-hdd"></i> Cache</a></li>
                <li><a href="#" data-action="notify" data-permission="_notify"><i class="icon-envelope"></i> Notification</a></li>
                <!--
                <li class="divider"></li>
                <li><a href="#"><i class="i"></i> Make admin</a></li>
                -->
            </ul>
        </div>


    </div>
    <div class="grid_9 rightarea">
        <div class="grid_9 alpha omega message">

        </div>
        <div class="grid_9 alpha omega content">
            <div class="content_edit_page">
                @using (Html.BeginForm("Edit", "Api", new { p_type = Model.GetType().AssemblyQualifiedName, p_path = ViewContext.HttpContext.Request.Query["p_path"].ToString() }, FormMethod.Post))
                {
                    @Html.EditorForModel()

                    <button title="preview" class="content_preview content_btns"><i class="icon-eye-open"></i></button>
                    <button title="update" class="content_update content_btns"><i class="icon-edit"></i></button>
                    <button title="publish" class="content_publish content_btns"><i class="icon-check"></i></button>
                }
            </div>
        </div>
    </div>
    <div class="hide interfaces">
        <div class="search_ops">
            <div class="inner">
                <div class="fieldwrapper">
                    <label>Search term</label>
                    <input class="search" />
                </div>
                <div class="fieldwrapper">
                    <label>Specific type</label>
                    <select>
                        <option value="">All</option>
                        @foreach (var m in apiHelper.AllModels())
                        {
                            <option value="@m.AssemblyQualifiedName">@m.Name</option>
                        }
                    </select>
                </div>
                <div class="tree_container fieldwrapper">
                    <label>Search root</label>
                    <ul class="content nomenu redirect">
                        <li class="node" data-children_path="/"></li>
                    </ul>
                    <div class="pathvalue"></div>
                    <div class="clearboth">&nbsp;</div>
                </div>
                <div class="clearboth">
                    <button class="btn btn-link">Search</button>
                </div>
            </div>
        </div>
        <div class="overlay_screen">
            <h1></h1>
            <div class="inner"></div>
            <div class="clearboth"></div>
            <!--<div class="msg"></div>-->
        </div>
        <div class="cache_exclude_dialog settings">
            <div class="">
                <div class="fieldwrapper">
                    <label>Exclude from output cache?</label>
                    <input type="checkbox" name="exclude" />
                </div>
                <div>
                    <button class='btn btn-link'>Update</button>
                </div>
            </div>
        </div>
        <div class="revision_for_dialog">
            <div class="">
                <div class="variantcontainer">
                    <label>Variant</label>
                    <select name="variant"></select>
                </div>
                <div class="descendantscontainer">
                    <label></label>
                    <select multiple name="descendants"></select>
                </div>
                <div>
                    <button class='btn btn-link'>Submit</button>
                </div>
            </div>
        </div>
        <div class="tree_container move">
            <div class="msg"></div>
            <ul class="content nomenu redirect">
                <li class="node" data-children_path="/"></li>
            </ul>
        </div>
        <div class="template_tree_container move">
            <div class="msg"></div>
            <ul data-dropdown="template-dropdown" class="content templates">
                <li class="node" data-children_path="/" data-type="folder" data-id="/" data-path="/" data-name="Root" data-has_children="true">
                    <div class="inner">
                        <i class="icon-cog menu"></i>
                        <span class="nodename">Root&nbsp;</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="footer_puck grid_12"></div>
<script type="text/javascript">
    var userName = "@User.Identity.Name";
    var variantNames = [];
    @foreach(var v in apiHelper.AllVariants()){
        @Html.Raw("variantNames['"+v.Key+"']=\""+v.FriendlyName+"\";");
    }

    $("[data-fieldname='CarouselItems']").hide();
    $("[data-fieldname='MetaKeywords']").hide();
    $("[data-fieldname='MetaDescription']").hide();
    $("[data-fieldname='Title']").hide();
    $("[data-fieldname='MainContent']").hide();
</script>
<script src="~/areas/puck/assets/js/puck.get_set.js" type="text/javascript"></script>
<script src="~/areas/puck/assets/js/puck.actions.js" type="text/javascript"></script>
<script src="~/areas/puck/assets/js/puck.handlers.js" type="text/javascript"></script>