@using puck.core.Abstract.EditorSettings
@using puck.core.Models.EditorSettings
@using puck.core.Models.EditorSettings.Attributes
@model List<puck.core.Models.PuckPicker>
@{

    I_Puck_Picker_Settings settings = this.PuckEditorSettings<PuckPickerEditorSettingsAttribute>();
    if (settings == null)
    {
        settings = this.PuckEditorSettings<PuckPickerEditorSettings>()
        ?? new puck.core.Models.EditorSettings.PuckPickerEditorSettings()
        {
            /*AllowDuplicates = false,*/
            AllowUnpublished = true,
            MaxPick = 5,
            /*SelectionType = "both",*/
            StartPath = null
        };
    }
    var startPath = "";
    Guid startId = Guid.Empty;

    if (!string.IsNullOrEmpty(settings.StartPathId)) {
        Guid.TryParse(settings.StartPathId,out startId);
    }
    else if (settings.StartPath != null && settings.StartPath.Count > 0)
    {
        startId = settings.StartPath.First().Id;
    }
    var guid = Guid.NewGuid();
}
<div data-guid="@guid.ToString()" class="puckpicker puckpicker_@ViewData.ModelMetadata.PropertyName puckpicker_@ViewData.TemplateInfo.HtmlFieldPrefix.Replace("[","_").Replace("]","_").Replace(".","_")">
    <div style="display:none;" class="propName" data-propName="@ViewData.TemplateInfo.HtmlFieldPrefix"></div>
    <div>
        <button type="button" class="btn btn-light addItem"><i class="fas fa-plus"></i></button>
    </div>
    <ul class="nodisplay contentTree nomenu">
        <li class="node" data-children_path="/"></li>
    </ul>
    <div class="selected_content">
        @if (Model != null)
        {
            foreach (var m in Model)
            {
                if (!string.IsNullOrEmpty(m.Variant))
                {
                    <div class="selected_node" data-nodename="" data-variant="@m.Variant" data-id="@m.Id">
                        <span class="nname"></span> - <span class="v">@m.Variant</span>
                        <span class="view">View</span>
                        &nbsp;<i class='fas fa-minus-circle'></i>
                    </div>
                    
                }
                else
                {
                    <div class="selected_node" data-variant="null" data-id="@m.Id">
                        <span class="nname"></span>&nbsp;
                        <i class='fas fa-minus-circle'></i>
                    </div>
                    
                }
            }
        }
    </div>
</div>
<script type="text/javascript">
    onAfterDom(function () {
        var guid = "@guid.ToString()";
        var modelType = "@Html.Raw(ViewBag.Level0Type.Name)";
        var propname = "@Html.Raw(ViewData.TemplateInfo.HtmlFieldPrefix)";
        var isPrePopulated = '@ViewBag.IsPrePopulated' == 'True';
        var escapePropname = function (str) {
            return str.replace(/\[/g, "_").replace(/\]/g,"_").replace(/\./g,"_");
        }
        //var container = $(".puckpicker_" + propname);
        var container = null;
        container = $("[data-guid='"+guid+"']");
        //if (!isPrePopulated)
        //    container = cright.find(".puckpicker_" + escapePropname(propname));
        //else
        //    container = cinterfaces.find("div[data-type='" + modelType + "'] .puckpicker_" + escapePropname(propname))

        var getPropName = function () {
            return container.find("div:hidden.propName:first").attr("data-propName");
        }

        var selected_container = container.find(".selected_content");
        var selected_content = function () { return selected_container.find(".selected_node"); }
        var _startPath = "@startPath" == ""?startPath:"@startPath";
        var _startId = "@startId.ToString()";
        container.find("ul.content li:first").attr("data-children_path", _startPath);
        var maxPick = "@settings.MaxPick";
        var selectionType = "both"; @*"@settings.SelectionType";*@ //both|variant|node
        var allowUnpublished = "@settings.AllowUnpublished";
        var allowDuplicates = false;@*"@settings.AllowDuplicates"=='True';*@
        var setValue = function () {
            container.find("input:hidden").remove();
            selected_content().each(function (i) {
                var node = $(this);
                container.append(
                    "<input type='hidden' name='" + getPropName() + "[" + i + "].Id' value='" + node.attr("data-id") + "'/>"
                    + "<input type='hidden' name='" + getPropName() + "[" + i + "].Variant' value='" + node.attr("data-variant") + "'/>"
                );
            });
        }
        setValue();
        var loadData = function () {
            var ids = "";
            selected_container.find(".selected_node").each(function () {
                ids += $(this).attr("data-id")+",";
            });
            if (!ids)
                return;
            getContentModels(ids, function (res) {
                for (var i = 0; i < res.length; i++) {
                    var el = selected_container.find(".selected_node[data-id='" + res[i].Id + "']");
                    el.attr("data-nodenamme", res[i].NodeName);
                    el.find(".nname").html(res[i].NodeName);
                }
            });
        }
        loadData();
        selected_container.on("click", "i", function (e) {
            var el = $(this).parent();
            if (overlayEl) {
                overlayEl.find(".node[data-id='" + el.attr("data-id") + "']").removeClass("selected");
            }
            el.remove();
            setValue();
        });
        var overlayEl = undefined; 
        container.find(".addItem").click(function (e) {
            if (selected_container.find(".selected_node").length >= maxPick) {
                msg(undefined, "you cannot select any more, max selection is set to " + maxPick, undefined, undefined);
                return false;
            }
            var tree = container.find("ul.contentTree").clone().removeClass("nodisplay");
            overlayEl = overlay(tree, 400, undefined, undefined, "Content Picker", true);
            el = overlayEl.find(".node:first");
            getDrawContent(_startId, el, false, function () {
                selected_container.find(".selected_node").each(function () {
                    var selected = $(this);
                    overlayEl.find(".node[data-id='" + selected.attr("data-id") + "']").addClass("selected");
                });
                if (overlayEl.find(".node").length == 1) {
                    overlayEl.find("ul.contentTree").before($("<p/>").html("there is no content to select."));
                }
            }, false);
            overlayEl.on("click", ".node span", function (e) {
                var clicked = $(this);
                var node = clicked.parents(".node:first");
                var isVariantSelection = clicked.hasClass("variant");

                if (node.attr("data-published") == "false" && !allowUnpublished) {
                    return false;
                }
                var variant;
                if (!isVariantSelection) {
                    //changed to only allow variant selection
                    variant = clicked.parents(".node:first").find(".variant:first").attr("data-variant");
                    isVariantSelection = true;
                }
                else
                    variant = clicked.attr("data-variant");
                if (selected_content().filter("[data-id='" + node.attr("data-id") + "'][data-variant='"+variant+"']").length > 0 && !allowDuplicates) {
                    selected_content().filter("[data-id='" + node.attr("data-id") + "'][data-variant='" + variant + "']").remove();
                    if(selected_content().filter("[data-id='" + node.attr("data-id") + "']").length==0)
                        node.removeClass("selected");
                    return;
                }

                if (selected_content().length >= maxPick) {
                    msg(undefined, "you cannot select any more, max selection is set to " + maxPick, undefined, undefined);
                    return false;
                }
                node.addClass("selected");
                
                if (isVariantSelection && (selectionType == "variant" || selectionType == "both")) {
                    selected_container.append(
                        "<div class='selected_node' data-nodename='"+node.attr("data-nodename")+"' data-variant='" + variant + "' data-id='" + node.attr("data-id") + "'>"
                        + "<span>"+ node.attr("data-nodename") + "</span> - <span class='v'>" + variant + "</span>"
                        + "&nbsp;<span class='view'>View</span> &nbsp;<i class='fas fa-minus-circle remove'></i></div>"
                    );
                } else if (!isVariantSelection && (selectionType == "node" || selectionType == "both")) {
                    selected_container.append(
                        "<div class='selected_node' data-variant='' data-id='" + node.attr("data-id") + "'><span>" + node.attr("data-nodename") + "</span>&nbsp;<i class='fas fa-minus-circle remove'></i></div>"
                    );
                }
                setValue();
            });
            overlayEl.on("click", "ul.contentTree li.node i.expand", function () {
                //get children content
                var node = $(this).parents(".node:first");
                var descendants = node.find("ul:first");
                if (descendants.length > 0) {//show
                    if (descendants.first().is(":hidden")) {
                        node.find("i.expand:first").removeClass("fa-chevron-right").addClass("fa-chevron-down");
                        descendants.show();
                    } else {//hide
                        node.find("i.expand:first").removeClass("fa-chevron-down").addClass("fa-chevron-right");
                        descendants.hide();
                    }
                } else {
                    getDrawContent(node.attr("data-id"), node, false, function () {
                        node.find(".loader").hide();
                        node.find("i.expand:first").show();
                        selected_container.find(".selected_node").each(function () {
                            var selected = $(this);
                            overlayEl.find(".node[data-id='" + selected.attr("data-id") + "']").addClass("selected");
                        });
                    },false);
                    node.find(".loader").show();
                    node.find("i.expand:first").removeClass("fa-chevron-right").addClass("fa-chevron-down").hide();
                }
            });
        });
        
        selected_container.on("click", ".selected_node .view", function (e) {
            var el = $(this);
            var selectedNode = el.parent();
            var id = selectedNode.attr("data-id");
            var variant = selectedNode.attr("data-variant");
            var nodename = selectedNode.attr("data-nodename");

            var container = $("<div />");
            var inner = $("<div data-tabPrefix='overlayContent_' class='cont_inner'></div>").css({width:"100%",height:"100%"});
            var msgContainer = $("<div class='msgTop'></div>");
            container.append(msgContainer).append(inner);

            var overlayEl = overlay(container, "90%", undefined, top, nodename);
            displayMarkup(null, undefined, variant, undefined, id, inner,msgContainer);
        });

    });
</script>