@inject I_Api_Helper apiHelper;
@model List<string>
@{
    
}
<div class="cachepolicy cachepolicy_@ViewData.ModelMetadata.PropertyName">
    @{
        var models = apiHelper.AllModels(true);
        <table>
            <tr>
                <td>Model Type</td>
                <td>Cache Minutes</td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <select>
                        @foreach (var m in models)
                        {
                            <option value="@m.Name">@ApiHelper.FriendlyClassName(ApiHelper.ConcreteType(m))</option>
                        }
                    </select>
                </td>
                <td><input type="number" class="minutes mt-2" /></td>
                <td><button class="btn btn-light">set</button></td>
            </tr>
        </table>
        <table>
            <tr><td>Model Type</td><td>Cache Minutes</td></tr>
            @foreach (var m in Model)
            {
                var kvp = m.Split(new char[] { ':' }, StringSplitOptions.RemoveEmptyEntries);
                try
                {
                    //var ctype = ApiHelper.GetType(kvp[0]);
                    var ctype = ApiHelper.GetTypeFromName(kvp[0]);
                    var mins = 0;
                    var error = false;
                    if (ctype == null || !int.TryParse(kvp[1], out mins))
                    {
                        error = true;
                    }
                    <tr class="entry @(error?"error":"")"><td data-type="@kvp[0]">@ctype.Name</td><td data-minutes="@kvp[1]">@kvp[1]</td></tr>
                }
                catch (Exception ex)
                {
                    <b>could not load type @(kvp.Length > 0 ? " - " + kvp[0] : "")</b>
                    <!--@ex.Message <text>-</text> @m-->
                }
            }
        </table>
    }
</div>
<script type="text/javascript">
    onAfterDom(function () {
        var propertyName = "@ViewData.ModelMetadata.PropertyName";
        var container = $(".cachepolicy_" + propertyName);
        var sel = container.find("select");
        var input = container.find("input");
        var btn = container.find("button");
        var table = container.find("table:last");

        sel.change(function (e) {
            var td = table.find("[data-type='" + sel.val() + "']");
            if (td.length > 0) {
                input.val(td.parents("tr:first").find("[data-minutes]").html());
            } else {
                input.val("0");
            }
        });

        var setValue = function () {
            container.find("input:hidden").remove();
            table.find("tr.entry:not(.error)").each(function () {
                var type = $(this).find("td:first").attr("data-type");
                var minutes = $(this).find("td:last").html();
                container.append(
                    "<input type='hidden' name='" + propertyName + "' value='" + type + ":" + minutes + "'/>"
                );
            });
        }

        btn.click(function (e) {
            e.preventDefault();
            if (isNullEmpty(input.val()) || !isInt(input.val()))
                return;
            var td = table.find("td[data-type='" + sel.val() + "']");
            if (td.length > 0) {
                td.parents("tr:first").find("td:last").html(input.val());
            } else {
                table.append(
                    "<tr class='entry'><td data-type='" + sel.val() + "'>" + sel.find(":selected").html() + "</td><td>" + input.val() + "</td></tr>"
                );
            }
            setValue();
        });
        setValue();
    });
</script>