@model String
@{
    Layout = null;
    var value = String.IsNullOrEmpty(Model) ? "" : Model;
    var guid = Guid.NewGuid();
}

@{
<div class="d-inline" data-guid="@guid.ToString()">
    <a href="#" class="new-group btn btn-link mb-1">New Group</a>
    <ul class="user-groups-list list-group list-group-horizontal">
        <li class="list-group-item" data-permissions="@string.Join(",",puck.core.Constants.PuckUserGroups.Administrator)">Administrator</li>
        <li class="list-group-item" data-permissions="@string.Join(",",puck.core.Constants.PuckUserGroups.Editor)">Editor</li>
    </ul>

    @Html.HiddenFor(x => x, new { @class = "usergroups" })
</div>
}
<script>
    (function () {
        var container = $("[data-guid='@guid.ToString()']");
        var setVal = function () {
            var active = container.find("li.active");
            var val = "";
            active.each(function (i) {
                val+=$(this).text()+",";
            });
            container.find("input:hidden").val(val);
        };
        container.find(".user-groups-list").on("click", "li", function (e) {
            var el = $(this);
            if (el.hasClass("active")) {
                el.removeClass("active");
                setVal();
            } else {
                el.addClass("active")
                setVal();
            }

        });

    })();
</script>
