@model puck.core.Models.Admin.ResetPassword

@{

}
<div class="container_12 login container">
    <div class="row">
        <div class="grid_12 col-md-12">
            <h1 class="master">Puck</h1>
        </div>
    </div>
    <div class="row">
        @if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
        {
            <div class="pt-3 col-9 grid_9">
                <p>@ViewBag.SuccessMessage</p>
                <a href="/puck/admin/in">Back to login page</a>
            </div>
        }
        else
        {
            <div class="pt-3 col-md-4 grid_3 push_5">
                <h2>Reset Password</h2>
                @using (Html.BeginForm())
                {
                    <div class="fields">
                        <div data-fieldname="Username" class="fieldwrapper  root">
                            <div class="editor-label " style="">
                                @Html.LabelFor(x => x.Password)
                                @Html.ValidationMessageFor(x => x.Password)
                            </div>
                            <div tabindex="-1" class="editor-field ">
                                @Html.TextBoxFor(x => x.Password,new { type="password"})
                            </div>
                            <div class="clearboth"></div>
                        </div>
                        <div data-fieldname="Password" class="fieldwrapper  root">
                            <div class="editor-label " style="">
                                @Html.LabelFor(x => x.PasswordConfirm)
                                @Html.ValidationMessageFor(x => x.PasswordConfirm)
                            </div>
                            <div tabindex="-1" class="editor-field ">
                                @Html.TextBoxFor(x => x.PasswordConfirm, new { type = "password" })
                            </div>
                            <div class="clearboth"></div>
                        </div>
                        @Html.HiddenFor(x=>x.ResetToken)
                    </div>
                    <button class="btn btn-link">submit</button>
                }
                <div class="error">
                    @Html.ValidationSummary(true)
                </div>
            </div>
        }
    </div>
</div>
