@using Page = puckweb.ViewModels.Page;
@model puckweb.ViewModels.Homepage

<h5>NOTE: this template is only here to show different examples of querying, feel free to modify or delete</h5>

@{
    Layout = "/views/shared/_Layout.cshtml";
    ViewBag.Title = "Homepage";
    //one way of getting Section viewmodels
    var qh = new QueryHelper<Section>()
        .DescendantsOf(Model)
        .CurrentLanguage()
        .ExplicitType();


    var sections = qh.GetAll();
    //another way of getting Section viewmodels
    var sections2 = Model.Descendants<Section>();
    @qh.ToString()
    <br />
    @("section count: " + sections.Count)
    <br />
    var searchQuery = "brexit";
    var search = new QueryHelper<Page>()
        .CurrentRoot(Model)
        .And().Field(x => x.MainContent, searchQuery)
        .CurrentLanguage();
    var sresults = search.GetAll();
    @("search for '" + searchQuery + "' count: " + sresults.Count)
    <br />
    var geoQuery = new QueryHelper<Page>()
        .WithinMiles(x => x.Location.LongLat, -0.1277582, 51.5073509, 10)
        .SortByDistanceFromPoint(x => x.Location.LongLat, -0.127782, 51.5073509, desc: false);

    var georesults = geoQuery.GetAll();
    @("search for locations within 10miles of London(-0.1277582,51.5073509): " + georesults.Count)

}

<div>
    @Html.Raw(geoQuery.ToString())
</div>

<h2>@Model.Title</h2>

<h3>Image Gallery</h3>
<div>
    @foreach (var imageModel in Model?.ImageGallery?.GetAll<ImageVM>() ?? new List<ImageVM>())
    {
        //if crop alias not found, full size image will be returned
        <img alt="@imageModel.Image.Description" src="@imageModel.Image.GetCropUrl("hero")" />
    }

</div>
@foreach (var s in sections)
{
    <h1>@s.Title</h1>
    <div>
        @Html.Raw(s.MainContent)
    </div>
    <div><a href="@s.Url()">more</a></div>
}

<h3>Search Results for "@searchQuery"</h3>
@foreach (var r in sresults)
{
    <h1>@r.Title</h1>
    <div>
        @Html.Raw(r.MainContent.Highlight(searchQuery))
    </div>
}

