@using Page=puckweb.ViewModels.Page;
@model puckweb.ViewModels.Page
@{
    /*NOTE: this template is only here to show different examples of querying, feel free to delete*/
    Layout = "/views/shared/_Layout.cshtml";
    ViewBag.Title = "Page";

    var variants = Model.Variants<Page>();
    var siblings = Model.Siblings<Page>();
    var parent = Model.Parent<Page>();
    var ancestors = Model.Ancestors<Page>();
    
    @("variants:"+variants.Count)
    @("siblings:"+siblings.Count)
    @("parent:"+parent.Count)
    @("ancestors:"+ancestors.Count)
}

<h2>@Model.Title</h2>
<div>
    @Html.Raw(Model.MainContent)
</div>
<div>
    @if (!string.IsNullOrEmpty(Model.Image?.Path))
    {
    <img alt="@Model.Title" src="@Model.Image?.Path" />
    }
</div>
