@using Page = puckweb.ViewModels.Page;
@model puckweb.ViewModels.Section
@{
    ViewBag.Title = "Section";
    var pages = Model.Children<Page>();
    var descendants = Model.Descendants<Page>();
    
    var qh = new QueryHelper<BaseModel>();
    qh.And().Range(x => x.Updated, 20130712112820,20130712112833, true, true);
    //qh.And().Range(x => x.Updated, new DateTime(2013, 7, 12, 11, 28, 20), new DateTime(2013, 7, 12, 11, 28, 33), true, true);
    var results = qh.GetAll();
    @("rangequery:"+results.Count);
    <br />
    var qh2 = new QueryHelper<BaseModel>();
    var res2= qh2.And().GreaterThanEqualTo(x=>x.SortOrder,0).Sort(x=>x.Updated,true).GetAll(500,1);
    //var res2 = qh2.And().Range(x=>x.SortOrder,1,3,true,true).GetAll();
    //var res2 = qh2.And().Field(x => x.SortOrder, 1).GetAll();
    @("rangequery2:"+res2.Count +"|total:"+qh2.TotalHits)
    @qh2.ToString()
    <br />
}    

@("children:"+pages.Count)
@("descendants"+descendants.Count)

<h2>Section - @Model.Title</h2>
@foreach (var p in pages) { 
    <h1>@p.Title</h1>
    <time>@p.Updated</time>
    <div>
        <img alt="@p.Title" src="@p.Image.Path"/>
    </div>
    <div>
        @Html.Raw(p.MainContent)
    </div>
    <div><a href="@p.Url()">more</a></div>
}